<!-- Team -->
			<div class="wrapper style5">
				<section id="team" class="container">
					<header class="major">
						<h2>{{record.slug }}</h2>
						<span class="byline">{{ record.title }}</span>
					</header>
					<div class="row">
						<div class="3u">
							<a href="#" class="image"><img src="{{ paths.theme }}/images/placeholder.png" alt=""></a>
							<h3>{{ record.title }}</h3>
							<p>{{ record.title }}</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="{{ paths.theme }}/images/placeholder.png" alt=""></a>
							<h3>{{ record.title }}</h3>
							<p>{{ record.title }}</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="{{ paths.theme }}/images/placeholder.png" alt=""></a>
							<h3>{{ record.title }}</h3>
							<p>{{ record.title }}</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="{{ paths.theme }}/images/placeholder.png" alt=""></a>
							<h3>{{ record.title }}</h3>
							<p>{{ record.title }}</p>
						</div>
					</div>
				</section>
			</div>